
@import "_color.scss";

* {
  box-sizing: border-box;
}
body{

  display: inline-block;
  font-family: 'Georgia', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  margin: 0;

}
nav{
  padding: 0px 0px 50px 20px;
  width:100%;
  ul{
    li{
      width: 33%;
    }
  }
}
aside{
  float:right;
  width: 37%;
  height: auto;
  margin:1% 0;
  padding: 1%;

  ul{
    text-align: left;
    li{
      list-style:none;
    }
  }
}

ol{
  list-style: none;
  padding:5px;
  border: 2px solid red;
  margin:1% 0;

  li{
    text-align: left;


  }
}

h1 {
    text-shadow: 2px 2px 5px red;
}

#wholePage{

  text-align: center;
  width: 100vw;
  padding:5px;
  margin: 0px auto;
}
.block{
  display: block;
}

#sectionOne{
  float:left;
  width:60%;
  margin: 1% 0;
  padding: 1%;

}
#banner{
  height: 400px;
  width:100%;
  border: 2px solid red;
  background: url(../images/banner/banner1.jpg) center no-repeat;
  background-size: cover;
  animation: bannerFadeInOut 10s ease-in-out infinite;

}


@keyframes bannerFadeInOut {
  0% {
    background: url(../images/banner/banner1.jpg) center no-repeat;
    background-size: cover;

  }
  50% {
    background: url(../images/banner/banner2.jpg) center no-repeat;
    background-size: cover;

  }

}
.margin{
  padding: 50px 0px;
}



  @media only screen and (max-width: 780px){

    .container{
      width: 780px;
    }
    div{
      width: 100vw;
    }
    #wholePage{

      width:750px;
      border: 2px solid red;

    }

    h1{
      font-size: 50px;
    }
    h2{
      font-size: 90%;
    }
    h3{
      font-size: 90%;
    }
    h4{
      font-size: 90%;
    }
    body{
      font-size: 150%;
    }
    #banner{
      height: 300px;
    }
    img{
      width:70%;
      height:70%;
    }
   }

  @media only screen and (max-width: 580px){


  .col-sm-6{
    display: block;
  }
   .container{
     max-width: 100vw;

   }
    #wholePage{

      width:580px;
      border: 2px solid red;
      padding:5%

    }
    body{
      font-size: 90%;
    }
    h1{
      font-size: 45px;
    }
    h2{
      font-size: 80%;
    }
    h3{
      font-size: 80%;
    }
    h4{
      font-size: 80%;
    }
    #banner{
      height: 200px;
    }
    img{
      width:50%;
      height:50%;
    }
  }
