body {
  color: #2d2d2d; }

.bg-1 {
  box-shadow: 3px 3px 8px rgba(151, 117, 170, 0.9);
  background-color: rgba(75, 0, 130, 0.8);
  color: #ffffff; }

#meBack {
  text-shadow: 4px 4px 8px rgba(151, 117, 170, 0.9);
  color: #ffffff; }

#jumbBack {
  text-shadow: 4px 4px 8px rgba(151, 117, 170, 0.9);
  color: #ffffff; }

.white {
  color: #ffffff; }

.black {
  color: #2d2d2d; }

nav li a {
  color: #ffffff;
  background-color: #2d2d2d; }

.bg-1 {
  border-radius: 10px; }

ol {
  list-style: none;
  -webkit-padding-start: 20px;
  padding-left: 20px; }

#centerFloat {
  width: 100vw;
  margin: 0 auto; }

img {
  display: inline-block;
  height: 300px;
  width: 200px;
  padding: 5px;
  margin-left: 40%;
  margin-right: auto; }

#sectionOne {
  padding-left: 10px;
  margin-right: 15px; }

#jumbBack {
  background: url(../images/banner/banner1.jpg) center no-repeat;
  background-size: cover;
  animation: bannerFadeInOut 10s ease-in-out infinite; }
  #jumbBack .jumbotron {
    background: none;
    background-color: none; }

#meBack {
  background: url(../images/banner/banner4.jpg) center no-repeat;
  background-size: cover; }
  #meBack .jumbotron {
    background: none;
    background-color: none; }

@keyframes bannerFadeInOut {
  0% {
    background: url(../images/banner/banner1.jpg) center no-repeat;
    background-size: cover; }
  50% {
    background: url(../images/banner/banner2.jpg) center no-repeat;
    background-size: cover; } }

@media only screen and (max-width: 780px) {
  img {
    margin-left: 35%; } }

@media only screen and (max-width: 580px) {
  img {
    margin-left: 30%; } }
